:root{
    --fg: #3b4252;
    --bg: #eceff4;
    --fg-title: #eceff4;
    --bg-title: #2e3440;
    --fg-h3: #ebcb8b;
}

body {
    margin: 0;
    padding: 0;
    color: var(--fg);
    background: var(--bg);
}

h3 {
    padding: 0.3em;/*文字周りの余白*/
    font-size: 1rem;
    /* color: var(--fg-h3); */
    border-left: solid px var(--fg-h3);/*左線（実線 太さ 色）*/
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 3rem;
    font-weight: bold;
    color: var(--fg-title);
    background: var(--bg-title);
}

.header #icon {
    justify-content: center;
    align-items: center;
    border-radius: 130px;
}

.header .sns {
    flex-wrap: wrap;
    justify-content: center;
}

.header h1{
    margin: 2rem;
}

.status {
    text-align: center;
}

.outline-2 {
    margin: 2rem 0 0 1rem;
}

.outline-3 {
    margin: 0 0 0 1rem;
}


