:root{
    --fg: #3b4252;
    --bg: #eceff4;
    --fg-title: #eceff4;
    --bg-title: #2e3440;
    --fg-h3: #ebcb8b;
}

body {
    margin: 0;
    padding: 0;
    color: var(--fg);
    background: var(--bg);
}

a:link { color: #81a1c1; }
a:visited { color: #81a1c1; }
a:hover { color: #3b4252; }

h3 {
    padding: 0.3rem;/*文字周りの余白*/
    font-size: 1rem;
    border-left: solid 6px var(--fg-h3);/*左線（実線 太さ 色）*/
}

.header {
    margin: 0;
    padding: 2rem;
    color: var(--fg-title);
    background: var(--bg-title);
}

.header .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .title #subtitle{
    font-weight: normal;
    font-size: 1rem;
}

.header .title #icon {
    border-radius: 130px;
}

.header .sns {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.header .sns .item {
    margin: 0;
    padding: 0 1rem 0 1rem;
}

.header h1{
    margin: 2rem;
}

.status {
    text-align: center;
}

.outline-2 {
    margin: 2rem 0 0 1rem;
}

.outline-3 {
    margin: 0 0 0 1rem;
}


