:root{
    --fg: #fdf9f3;
    --bg: #2c292d;
    --fg-title: #fdf9f3;
    --bg-title: #2c292d;
    --fg-h3: #ff6188;
    --a-link: #a9dc76;
    --a-hover: #ffd866;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--fg);
    background: var(--bg);
}

a:link { color: var(--a-link); }
a:visited { color: var(--a-link); }
a:hover { color: var(--a-hover); }

.header {
    margin: 0;
    padding: 2rem;
    color: var(--fg-title);
    background: var(--bg-title);
}

.header .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1{
    margin: 2rem;
}

.header .title #subtitle{
    font-weight: normal;
    font-size: 1rem;
}

.header .title #icon {
    border-radius: 130px;
}

.header .sns {
    display: flex;
    display: -webkit-box;
    justify-content: center;
    -webkit-box-pack: center;
    font-size: 1.2rem;
}

.header .sns a:hover{
    color: var(--a-hover);
}

.header .sns .item {
    margin: 0;
    padding: 0 1rem 0 1rem;
}

.outline-2 {
    display: grid;
    grid-gap: 0.4rem;
    grid-template-columns: repeat(
        auto-fit,
        minmax(400px, 1fr)
    );
}

.outline-2 h2{
    margin: 1rem;
    grid-column: 1 / -1;
}

.outline-2 .outline-text-2{
    margin: 0 1rem;
    grid-column: 1 / -1;
 }

.outline-3 {
    width: 400px;
    margin: 1rem .25rem;
    background: var(--fg);
    border-radius: 3px;
    justify-self: center;
}

.outline-3 h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: var(--bg);
    background: var(--fg-h3);
    padding: 1rem;
    height: 5rem;
    text-align: center;
    border-radius: 3px 3px 0 0;
}

.outline-3 h3 .tag{
    display: none
}

.outline-3 img {
    padding: 0 0 1rem 0;
}

.outline-3 .outline-text-3 {
    color: var(--bg);
    padding: 1rem;
}

.status {
    text-align: center;
}
